@font-face {
    font-family: "EuclidSquare";
    font-style: normal;
    font-weight: 200;
    src: local("EuclidSquare-Light"),
    url("./EuclidSquare-Light.woff2") format("woff2"),
    url("./EuclidSquare-Light.woff") format("woff");
}

body {
    margin: 0;
    width: 100vw;
    overflow: hidden;

    --error-color: #fa6400;
    --text-color: '';
    --white: #fff;

    font-family: EuclidSquare, sans-serif;
    box-sizing: border-box;
}

.main-container {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url("./SMPTE_Color_Bars.svg.png");
    background-size: contain;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    bottom: 0;

    width: 100%;
    height: 200px;
    padding: 30px;
    margin-top: auto;

    background-color: rgba(255, 228, 196, 0.9);
    clip-path: polygon(0 100%, 100% 100%, 100% 60%, 0 0);
    /*clip-path: polygon(0 100%, 100% 100%, 100% 0, 0% 60%);*/
}
.form-container--next-form {
    animation: diving 2s ease-in-out;
}
@keyframes diving {
    from, to {
        transform: translateY(0);
    }
    50% {
        transform: translateY(150px);
    }
}

.form-phone-number {
    position: absolute;
    top: 45px;
    left: 25px;

    box-sizing: border-box;
    transition: transform 3s;
}
.form-otp {
    position: absolute;
    bottom: 30px;
    left: 50px;

    max-width: 70%;

    box-sizing: border-box;
    transition: transform 3s;
}

.hide {
    transform: translateY(500px);
}
.show {
    transform: translateY(0);
}

.btn-container {
    margin-bottom: 50px;
    min-height: 84px;
}
.auth-btn {
    background-color: transparent;
    border: 0;
    position: relative;
}
.auth-btn:active {
    transform: scale(0.85);
}
.auth-btn:active svg{
    fill: #0dd;
}

.input-container {
    display: flex;
}
.input-container--otp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.input-container--otp label {
    margin-bottom: 5px;
}

.country-select {
    margin-right: 2px;

    font-size: 22px;
    font-family: EuclidSquare, sans-serif;

    border-radius: 20px;
}
.phone-input {
    width: 80%;
    padding: 5px 10px;

    font-size: 22px;
    font-family: EuclidSquare, sans-serif;

    border: 1px solid black;
    border-radius: 20px;
}
.input--otp {
    width: 10%;
    text-align: center;

    margin-right: 10px;
}
.input--otp:disabled {
    background-color: white;
    color: black;
}

.menu {
    position: absolute;
    top: 45px;
    left: 25px;

    box-sizing: border-box;
    transition: transform 3s;
}
.menu__buttons-container {
    display: flex;
    justify-content: space-between;
}
.menu__btn {
    width: 70px;
    height: 40px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    font-family: EuclidSquare, sans-serif;
    overflow: hidden;
    transition: transform .2s, background-color .2s;
}
.menu__btn:active {
    transform: scale(0.8);
    background-color: aqua;
}
.menu__btn--appearance {
    animation: rotation-bounce-moving 2s linear 1.8s, dilatation 1s ease-in-out 3.8s;
}

@keyframes dilatation {
    from {
        transform: scaleX(0.57);
    }
    to {
        transform: scaleX(1);
    }
}

/*@keyframes rotation-bounce-moving {*/
/*    0% {*/
/*        transform: translateX(90vw) translateY(-100px) rotate(360deg) scaleX(0.57);*/
/*    }*/
/*    10% {*/
/*        transform: translateX(80vw) translateY(0px) rotate(324deg) scaleX(0.57);*/
/*    }*/
/*    20% {*/
/*        transform: translateX(70vw) translateY(-50px) rotate(288deg) scaleX(0.57);*/
/*    }*/
/*    30% {*/
/*        transform: translateX(60vw) translateY(0) rotate(252deg) scaleX(0.57);*/
/*    }*/
/*    40% {*/
/*        transform: translateX(50vw) translateY(-30px) rotate(216deg) scaleX(0.57);*/
/*    }*/
/*    45% {*/
/*        transform: translateX(45vw) translateY(0) rotate(198deg) scaleX(0.57);*/
/*    }*/
/*    50% {*/
/*        transform: translateX(40vw) translateY(-18px) rotate(180deg) scaleX(0.57);*/
/*    }*/
/*    55% {*/
/*        transform: translateX(35vw) translateY(0) rotate(162deg) scaleX(0.57);*/
/*    }*/
/*    58% {*/
/*        transform: translateX(32vw) translateY(-10px) rotate(151.2deg) scaleX(0.57);*/
/*    }*/
/*    63% {*/
/*        transform: translateX(27vw) translateY(0) rotate(133.2deg) scaleX(0.57);*/
/*    }*/
/*    65% {*/
/*        transform: translateX(25vw) translateY(-5px) rotate(126deg) scaleX(0.57);*/
/*    }*/
/*    67% {*/
/*        transform: translateX(23vw) translateY(0) rotate(118.8deg) scaleX(0.57);*/
/*    }*/
/*    69% {*/
/*        transform: translateX(21vw) translateY(-3px) rotate(111.6deg) scaleX(0.57);*/
/*    }*/
/*    71% {*/
/*        transform: translateX(19vw) translateY(0) rotate(104.4deg) scaleX(0.57);*/
/*    }*/
/*    72% {*/
/*        transform: translateX(18vw) translateY(-2px) rotate(100.8deg) scaleX(0.57);*/
/*    }*/
/*    73% {*/
/*        transform: translateX(17vw) translateY(0) rotate(97.2deg) scaleX(0.57);*/
/*    }*/
/*    80% {*/
/*        transform: translateX(10vw) translateY(0) rotate(72deg) scaleX(0.57);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(0) translateY(0) rotate(0) scaleX(0.57);*/
/*    }*/
/*}*/

@keyframes rotation-bounce-moving {
    0% {
        transform: translateX(90vw) translateY(-100px) rotate(360deg) scaleX(0.57);
    }
    10% {
        transform: translateX(80vw) translateY(0px) rotate(288deg) scaleX(0.57);
    }
    20% {
        transform: translateX(70vw) translateY(-50px) rotate(216deg) scaleX(0.57);
    }
    30% {
        transform: translateX(60vw) translateY(0) rotate(144deg) scaleX(0.57);
    }
    40% {
        transform: translateX(50vw) translateY(-30px) rotate(72deg) scaleX(0.57);
    }
    45% {
        transform: translateX(45vw) translateY(0) rotate(36deg) scaleX(0.57);
    }
    50% {
        transform: translateX(40vw) translateY(-18px) rotate(0) scaleX(0.57);
    }
    55% {
        transform: translateX(35vw) translateY(0) rotate(-36deg) scaleX(0.57);
    }
    58% {
        transform: translateX(32vw) translateY(-10px) rotate(-57.6deg) scaleX(0.57);
    }
    63% {
        transform: translateX(27vw) translateY(0) rotate(-93.6deg) scaleX(0.57);
    }
    65% {
        transform: translateX(25vw) translateY(-5px) rotate(-108deg) scaleX(0.57);
    }
    67% {
        transform: translateX(23vw) translateY(0) rotate(-122.4deg) scaleX(0.57);
    }
    69% {
        transform: translateX(21vw) translateY(-3px) rotate(-136.8deg) scaleX(0.57);
    }
    71% {
        transform: translateX(19vw) translateY(0) rotate(-151.2deg) scaleX(0.57);
    }
    72% {
        transform: translateX(18vw) translateY(-2px) rotate(-158.4deg) scaleX(0.57);
    }
    73% {
        transform: translateX(17vw) translateY(0) rotate(-165.6deg) scaleX(0.57);
    }
    80% {
        transform: translateX(10vw) translateY(0) rotate(-216deg) scaleX(0.57);
    }
    100% {
        transform: translateX(0) translateY(0) rotate(-360deg) scaleX(0.57);
    }
}

.preloader {
    width: 40px;
    height: 40px;
    background-color: #0dd;
    border-radius: 50%;
    border: 1px solid black;

    animation: preloader-bounce .8s linear infinite;
}
.preloader__send-phone {
    margin-left: 25px;
}
.preloader__send-otp {
    position: absolute;
    right: 0;
    top: -50px;
}
.block--hide {
    display: none;
}

@keyframes preloader-bounce {
    from, to {
        transform: translateY(50px)
    }
    50% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(40px) scale(1.2, 0.6);
    }
}
