@font-face {
    font-family: "TTCommon";
    font-style: normal;
    font-weight: 200;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTCommons-Light"),
    url("./TTCommons-Light.woff2") format("woff2"),
    url("./TTCommons-Light.woff") format("woff");
}

body {
    margin: 0;
    width: 100vw;
    height: var(--window-height);
    overflow: hidden;

    --light-red: #fa6400;
    --primary-text: #fff;
    --white: #fff;
    --background-color: '';
    --no-smoke-bg-color: #D5FF92;

    font-family: TTCommon, sans-serif;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right bottom, #260101, #652b2b);
    width: 100%;
    height: 100vh;
}

.images-container {
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.images-container__slide {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.slide--no-smoke {
    background-color: var(--no-smoke-bg-color);
}
.slide--smoke {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    /*background: linear-gradient(to left bottom, black 30%, #521a1a);*/
    background-color: black;
    clip: rect(auto, 160px, auto, auto);
}
.smoke-animation {
    position: absolute;
    top: 0;
    z-index: -1;
    /*transform: rotate(90deg);*/
    background: transparent;
}
.smoke-static {
    position: absolute;
    top: -5vh;
    object-fit: contain;
    z-index: -1;
}

.images-container__slide-title {
    margin: 10px 0;

    position: relative;
    z-index: 2;
    font-size: 2em;
    text-transform: uppercase;
}
.slide-title--smoke {
    color: #fff;
    text-align: left;
    width: 50%;
    align-self: flex-start;
}
.slide-title--no-smoke {
    text-align: right;
    width: 50%;
    align-self: flex-end;
}
.images-container__full-charge-icon {
    fill: none;
    flex-grow: 1;
    align-items: center;
}
.change-image-clip-btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: calc(50% - 13px);

    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
}
.flashlight {
    position: absolute;

    width: 10%;
    height: 10px;
    background-color: #FD1B1B;

    animation: flicker 1.5s infinite alternate;
}
@keyframes flicker {
    from, to {
        box-shadow: 0 0 0 0 #FD1B1B;
    }
    50% {
        box-shadow: 0 0 20px 15px #FD1B1B;
    }
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
.sun-icon {
    position: absolute;
    top: -25%;
    left: -20%;
    animation: rotation 4s linear infinite;
}

@keyframes resize {
    from, to {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}
.sun-icon-core {
    transform-origin: center;
    animation: resize 1.5s ease-in-out infinite;
}

.title-container {
    position: absolute;
    bottom: 8vh;
    /*left: 23%;*/
    display: flex;
    /*z-index: 2;*/
    flex-grow: 1;
    opacity: 0;
    transition: opacity 1s;
    flex-direction: column;
    align-items: center;
}
.title-container--no-smoke {
    color: #260101;
}
.title-container--smoke {
    color: #fff;
}

.title-container__subtitle {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    /*text-shadow: 3px 3px 3px var(--no-smoke-bg-color),*/
    /*            -3px -3px 3px var(--no-smoke-bg-color);*/
}

.title-container__title {
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
    /*text-shadow: 3px 3px 3px var(--no-smoke-bg-color),*/
    /*            -3px -3px 3px var(--no-smoke-bg-color);*/
}
