@font-face {
    font-family: "TTCommon";
    font-style: normal;
    font-weight: 200;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTCommons-Light"),
    url("/css/TTCommons-Light.woff2") format("woff2"),
    url("/css/TTCommons-Light.woff") format("woff");
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    --light-red: #fa6400;
    --primary-text: #131415;
    --white: #fff;

    display: flex;
    flex-direction: column;

    font-family: TTCommon, sans-serif;
}

header {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 9;
    position: relative;
}

@keyframes section-appearance {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.section {
    position: absolute;
    top: 15%;
    left: 15px;

    display: flex;
    justify-content: flex-start;

    width: 84.1%;
    height: 300px;
    padding: 40px 15px 100px;
    margin-top: -50px;

    border: 1px solid var(--primary-text);
    border-radius: 15px;

    transform: translateX(150%);
    transition: transform .8s;
}
.section-appearance {
    transform: translateX(0);
    animation: section-appearance .8s ease-in-out;
}
.section-disappearance {
    transform: translateX(-150%);
    animation: section-appearance .4s ease-out;
}

.section__text {
    font-size: 3em;
}

@keyframes blink-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--primary-text)
    }
}
.caret {
    animation: blink-caret .7s infinite;
}

.detailed-link {
    position: absolute;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    color: var(--white);

    min-width: 50px;
    padding: 10px 15px;
    background-color: var(--primary-text);

    border-radius: 22px;
    opacity: 0;
    transform: translateX(200%);
    transition: transform .5s, opacity .5s, font-size .2s;
}
.detailed-link:hover {
    opacity: 0.85;
}
.detailed-link:focus, .detailed-link:active {
    opacity: 1;
    font-size: 1.8em;
}

.link-appearance {
    opacity: 1;
    transform: translateX(0);
}
